.homepage-img{
  height: 25%;
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.homepage{
  height: 1000px;
  background-color:	#fafafa;
}

.login-container {
  margin-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

}
