.signup-form{
  width: 300px;
  padding: 30px;
  border: 1px solid lightgray;
  text-align: center;
  left: 43%;
  top: 24%;
  margin: 10px;
  background-color: white;
}

.linktologin{
  border: 1px solid lightgray;
  color: #3897f0;
  font-size: 14px;
  font-family: sans-serif;
  text-align: center;
  padding: 30px;
  width: 300px;
  margin: 10px;
  background-color: white;

}

.signup-form-homepage{
    text-align: center;
    color: black;


}

.signup-form-signup-page{
  color:black;
}


.logo{
    font-family: "Pacifico", sans-serif;
     font-size: 40px;
     text-align: center;
     font-weight: 400px;
     margin: 30px;
     padding-bottom: 30px;
     background-color: white;

}

.form-information{
  width: 260px;
    padding: 10px;
    border: 1px solid #F0F0F0;
    margin: 3px;
    text-align: left;
    color: black;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
  }



.SignUp-button{
  background-color: rgb(56,151,240);
  color: white;
    border: none;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 9px 8px;
    border-radius: 3px;
    width:90%;
    font-family: sans-serif;
}


.top-msg{
  font-family: "Roboto", sans-serif;
  font-weight: 540;
  font-size: 17px;
  color: 	#A0A0A0;
  padding-top: 18px;
  padding-bottom: 12px;
  background-color: white;
}

.bottom-msg{
font-family: "Roboto", sans-serif;
  color: 	#A8A8A8;
  font-size: 15px;
  font-weight: 400px;
  padding-top: 12px;
  padding: 10px;
  background-color: white;

}

.haveAnAccount{
  font-family: sans-serif;
  color:black;
  margin-right: 5px;
  font-size: 14px;
  margin: 1px;
  background-color: white
}

.link{
  color: #3897f0;
  background-color: white;
}

.form{
  background-color: white;
}
